.m-module-image
	text-align center
	figure
		display table
		margin 0 auto
		figcaption
			display table-caption
			caption-side bottom
			margin-top 10px
			text-align left
			
	iframe
		+MQ(SP_RES_WID)
			width 100%
	img
		max-width 100%
		height auto

		+MQ(SP_RES_WID)
			width 100%