.m-module-boldTitle01
	margin-bottom 20px
	span
		color POINT_COLOR01
		fontSize(16)
		font-weight bold

.m-module-leftBorderTitle01
	margin-bottom 20px
	padding-bottom 0.1em
	padding-left 0.5em
	border-left 0.2em solid POINT_COLOR01
	span
		color POINT_COLOR01
		fontSize(16)
		font-weight bold

.m-module-bottomBorderTitle01
	margin-bottom 20px
	span
		display inline-block
		padding-bottom 0.5em
		color POINT_COLOR01
		border-bottom 0.1em solid POINT_COLOR01
		fontSize(16)
		font-weight bold

.m-module-bottomBorderTitle02
	margin-bottom 20px
	border-bottom 0.1em solid POINT_COLOR01
	span
		padding-bottom 0.5em
		color POINT_COLOR01
		fontSize(16)
		font-weight bold

.m-module-bgTitle01
	margin-bottom 20px
	span
		display inline-block
		padding 0.5em 0.5em 0.6em
		color #FFF
		background-color POINT_COLOR01
		fontSize(16)
		font-weight bold

.m-module-bgTitle02
	margin-bottom 20px
	padding 0.5em 0.5em 0.6em
	background-color POINT_COLOR01
	span
		color #FFF
		fontSize(16)
		font-weight bold