- var DOMAIN = ''
- var OGP_IMAGE = DOMAIN + "images/common/ogp.png"
- var HOME_TITLE = ""

- 
	var PAGES = {
		list : {
			URL : 'index.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		home : {
			URL : 'home.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		parts : {
			URL : 'parts.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		editor : {
			URL : 'editor.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		animation : {
			URL : 'animation.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		book_detail : {
			URL : 'book_detail.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		kadai : {
			URL : 'kadai.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		test : {
			URL : 'test.html',
			PATH : '',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
		component : {
			URL : 'component/index.html',
			PATH : '../',
			TITLE : '',
			DESCRIPTION : '',
			KEYWORDS : ''
		},
	}
