/* ベース
---------------------------------- */

html
	height 100%
	font-size 62.5%

body
	init()

a
	&:link, &:visited
		color: DF_URL_TEXT_COLOR;
		text-decoration: underline;
	&:hover, &:active
		text-decoration: none
	&:focus
		outline none
		
.is-sp
	display none !important

	+MQ(SP_RES_WID)
		display block !important
		& + .is-pc
			display none !important

input[type="text"], input[type="button"], button, textarea
	margin 0
	padding 0
	background none
	border none
	border-radius 0
	outline none
	-webkit-appearance none
	-moz-appearance none
	appearance none