.iconSet
	&[target^='_blank'], &[href$='.pdf'],
	&[href$='.doc'], &[href$='.docx'], &[href$='.docm'], &[href$='.dotx'], &[href$='.dotm'],
	&[href$='.rtf'], &[href$='.xls'], &[href$='.xlsx'], &[href$='.xlt'], &[href$='.xml'],
	&[href$='.xlsm'], &[href$='.csv'], &[href$='.ppt'], &[href$='.pptx'], &[href$='.pptm']
		&:before, &:after
			display inline-block
			margin 0 4px
			background-repeat no-repeat
			background-size cover
			vertical-align middle
		&:after
			content ""
		
		&.icon-before
			&:before
				content ""
			&:after
				content none
	
	&[href*="#"]
		&:before, &:after
			transform translate3d(0, -50%, 0) rotate(90deg)
		&[href*=".html"]
			&:before, &:after
				transform translate3d(0, -50%, 0) rotate(0)

	&[target^='_blank']
		&:before, &:after
			width 8px !important
			height 7px !important
			background-image url('../images/common/common_icon_outer01.png') !important

	&[href$='.pdf']
		&:before, &:after
			width 12px !important
			height 14px !important
			background-image url('../images/common/common_icon_pdf01.png') !important
	
	&[href$='.doc'], &[href$='.docx'], &[href$='.docm'], &[href$='.dotx'], &[href$='.dotm'],
	&[href$='.rtf'], &[href$='.xls'], &[href$='.xlsx'], &[href$='.xlt'], &[href$='.xml'],
	&[href$='.xlsm'], &[href$='.csv'], &[href$='.ppt'], &[href$='.pptx'], &[href$='.pptm']
		&:before, &:after
			width 12px !important
			height 14px !important
			background-image url('../images/common/common_icon_etc01.png') !important
	
	span
		vertical-align middle


iconSet(tag)
	&[target^='_blank'], &[href$='.pdf'],
	&[href$='.doc'], &[href$='.docx'], &[href$='.docm'], &[href$='.dotx'], &[href$='.dotm'],
	&[href$='.rtf'], &[href$='.xls'], &[href$='.xlsx'], &[href$='.xlt'], &[href$='.xml'],
	&[href$='.xlsm'], &[href$='.csv'], &[href$='.ppt'], &[href$='.pptx'], &[href$='.pptm']
		{tag}
			&:before, &:after
				display inline-block
				margin 0 4px
				background-repeat no-repeat
				background-size cover
				vertical-align middle
			&:after
				content ""
			
			&.icon-before
				&:before
					content ""
				&:after
					content none

	&[target^='_blank']
		{tag}
			&:before, &:after
				width 8px !important
				height 7px !important
				background-image url('../images/common/common_icon_outer01.png') !important

	&[href$='.pdf']
		{tag}
			&:before, &:after
				width 12px !important
				height 14px !important
				background-image url('../images/common/common_icon_pdf01.png') !important
	
	&[href$='.doc'], &[href$='.docx'], &[href$='.docm'], &[href$='.dotx'], &[href$='.dotm'],
	&[href$='.rtf'], &[href$='.xls'], &[href$='.xlsx'], &[href$='.xlt'], &[href$='.xml'],
	&[href$='.xlsm'], &[href$='.csv'], &[href$='.ppt'], &[href$='.pptx'], &[href$='.pptm']
		{tag}
			&:before, &:after
				width 12px !important
				height 14px !important
				background-image url('../images/common/common_icon_etc01.png') !important

	
	{tag}
		span
			vertical-align middle